
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Grocery Recommender System</title>
    
<style>
    @import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@200;500&display=swap');

    * {
        font-family: 'Josefin Slab', serif;
    }
    .font30px {
        font-size: 30px;
    }

    .font20px {
        font-size: 20px;
    }
    .font50px {
        font-size: 50px;
    }
</style>
  </head>
  <body class="bg-dark">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
          <a class="navbar-brand font30px fw-bolder" href="#">Grocery Recommender</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
         <form action="" class="d-flex">
            <div class="collapse navbar-collapse me-4" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link"></a>
                      </li>
                  <li class="nav-item">
                    <a class="nav-link active font20px" aria-current="page" href="/">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link  font20px" href="/recommend">Search Items</a>
                  </li>
                </ul>
              </div>
         </form>
        </div>
      </nav>
      <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-white font50px pt-4">Top 50 Grocery Items</h1>
            </div>
            {% for i in range(product_name|length) %}
            <div class="col-md-3 " style="margin-top:50px;">
                <div class="card bg-dark text-white border-0" style="width: 13rem;">
                    <img src="{{ image[i] }}" class="card-img-top" alt="grocery pic">
                    <div class="card-body">
                      <h5 class="card-title">{{ product_name[i] }}</h5>
                      <p>{{ author[i] }}</p>
                      <p>Votes - {{ votes[i] }}</p>
                    </div>
                  </div>
            </div>
            {% endfor %}
            
          
        </div>
      </div>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
  </body>
</html>